.footer{
    padding: 2%;
    background: rgba(0,0,0,0.08);
}

.containerList{
    height: 60vh;
    overflow: auto;
}

.btn1:hover{
    width: 90%;
}

.btn2{
    margin-left: 5%;
    margin-right:  5%;
}

.btn2:hover{
    width: 40%;
}