<div class="row">
    <div class="col-md-8">
        <h2 class="h2 text-center">Clientes registrados</h2>
        <hr class="hr"/>
        <div class="container-fluid containerList ">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" class="form-control" ng-model="customerfilter" placeholder="Buscar cliente"/>
                </div>
            </div>
            <table class="table table-hover">
                <tbody  ng-repeat="customer in customers | filter:customerfilter | filter:buscar">
                    <tr>
                        <td>{{customer.nombre}}</td>
                        <td>{{customer.email}}</td>
                        <td class="text-center"><a ng-click="updateCustomer(customer.customerId)" class="btn btn-success btn1">Editar</a></td>
                        <td class="text-center"><a ng-click="deleteCustomer(customer.customerId)" class="btn btn-danger btn1">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-4">
        <div class="container-fluid text-center">
            <h2 class="h2 text-center">Agregar Cliente</h2>
            <hr class="hr"/>
            <form class="form-group" role="form" name="formu">
                <label class="">Por favor ingrese los siguientes datos</label>
                <input type="number" class="form-control" placeholder="id" id="id" required min="1">
                <input type="text" class="form-control" placeholder="nombre" id="nombre" required>
                <input type="email" class="form-control" placeholder="email" id="email" required>
                <input type="text" class="form-control" placeholder="dirección" id="dir" required>
                <input type="tel" class="form-control" placeholder="teléfono" id="tel" required>
                <input type="text" class="form-control" placeholder="ciudad" id="ciudad" required>
                <input type="text" class="form-control" placeholder="país" id="pais" required>
                <hr class="hr"/>
                <input type="reset" class="btn btn-primary btn-success btn2"/>
                <button ng-click="createCustomer()" ng-disabled="formu.$invalid" class="btn btn-primary btn-success btn2">Crear cliente</button>
            </form>
        </div>
    </div>
</div>

